@model BangladeshToday.Models.Newsinfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">


<h2>Create</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option>-Select-</option>
                    <option>Politics</option>
                    <option>National</option>
                    <option>International</option>
                    <option>Business</option>
                    <option>Sports</option>
                    <option>Entertainment</option>
                    <option>Art & Culture</option>
                    <option>Science & Tech</option>
                    <option>Health&Life Style</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control">
                    <option value="-Select-">-Select-</option>
                    <option value="orange">orange(politics)</option>
                    <option value="blue">blue(National)</option>
                    <option value="red">red(International)</option>
                    <option value="salad">salad(Business)</option>
                    <option value="purple">purple(Sports)</option>
                    <option value="yellow">yellow(Entertainment)</option>
                    <option value="light-blue">light-blue(Art & Culture)</option>
                    <option value="violet">violet(Science & Tech)</option>
                    <option value="violet">yellow(Helth & Life Style)</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="summernote" style="width:100%;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*@ViewBag.dt*@
                <br />
                <label asp-for="Datetime" class="control-label"></label>
                <input asp-for="Datetime" class="form-control" />
                <span asp-validation-for="Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keyword" class="control-label"></label>
                <input asp-for="Keyword" class="form-control" />
                <span asp-validation-for="Keyword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CaptionPicture" class="control-label"></label>
                <input asp-for="CaptionPicture" class="form-control" />
                <span asp-validation-for="CaptionPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editor" class="control-label"></label>
                <select asp-for="Editor" class="form-control">
                    <option value="select">-Select-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="Editor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeatureNews" class="control-label"></label>
                <select asp-for="FeatureNews" class="form-control">
                    <option value="select">-Select-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="FeatureNews" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubFeatureNews" class="control-label"></label>
                <select asp-for="SubFeatureNews" class="form-control">
                    <option>-Select-</option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <span asp-validation-for="SubFeatureNews" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="SlideShow" class="control-label"></label>
                <select asp-for="SlideShow" class="form-control">
                    <option></option>
                    <option value="active">active</option>
                </select>
                <span asp-validation-for="SlideShow" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HotNews" class="control-label"></label>
                <select asp-for="HotNews" class="form-control">
                    <option value="select">-Select-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="HotNews" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary btn-xs">Back to List</a>
</div>

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                tabsize: 2,
                height: 200
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
