@model IEnumerable<BangladeshToday.Models.UserDetails>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<h1 style="text-align: center; margin: 80px; font-size: 55px; text-transform:uppercase">Welcome To Our <br /> <span style="color:#27ae60; font-weight:bold">The Morning Bell</span>  <br /> NewsPaper Dashboard</h1>

