body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.border-in-details {
    border:1px solid #000000;
}
.border-in-details dt{
    border: 1px solid #000000;
}

/*Scroll To Top Starts*/

.scroll {
    text-decoration: none;
    color: #ffffff;
    background: rgba(0,0,0,.5);
    padding: 10px 15px;
    position: fixed;
    right: 10px;
    bottom: 0;
    border-radius: 6px 6px 0 0;
    display: none;
}

/*Scroll To Top Ends*/
